fastapi
uvicorn
gunicorn
sqlalchemy
greenlet==3.1.1
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pydantic
alembic
httpx
pytest
pytest-asyncio
pytest-cov
google-generativeai
pillow
python-multipart
